.header{
    align-items: center;
    justify-content:center;
    color:#c69c3f;
    display: flex;
    margin-bottom: 12px;
    font: ui-serif, Georgia, "Times New Roman", serif;
    font: ui-monospace, Menlo, Consolas, "Liberation Mono", monospace;
}
.header:hover{
    text-decoration:underline;
    color:  #8e6a25;
}

.header .logo {
  max-width: 200px;
  height: auto;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,.6));
}